<div class="col-md-8 centercontainer">
<div class="shadowcontainer">

<h1>The Trump family is only able to do what they do because they subvert traditional
    financial and legal institutions.  The only way we can really stop it is for us, the
    people, to get involved and crowdfund them out and replace them with decency.  </h1>
<br>
<div class="row">
<div class="col-md-3">
  <%= image_tag "me.png", class: "aboutpic" %>
</div>
<div class="col-md-9">
  <p> I'm not a professional
  political operative or web designer.  I'm just a guy in Nashville who is super pissed about the
  Trumps criminal behavior and their arrogance.  This is one of the few ways we can really
  fight back.  I seriously believe we can torment them for a few years and then take over one of the
  properties and run it as a self-sustaining socially responsible commercial enterprise with
  all of us sharing in the profits.  Wouldn't that be awesome!

<p> I am dead serious in pursuing this.  I have a background in finance, business, and non-profit
  administration.  With your help, we can absolutely get this done.  The Trumps have
  arrogantly raped our country for four years, and since we can't stop Magats from donating
  to him, this is our only way to get a seat at the table where Trump has to beg for mercy.

<p> I chose to write and host my own site to avoid platform fees from the typical crowdfunding sites.
  Also, this wouldn't be appropriate on gofundme, because this is a true group fund. I developed the
  site with slightly better than hobbyist level coding skills, and
  I'm fronting a little bit of cash to get it up and running.  Please consider making a donation in addition
  to a pledge. All donations will be used to cover
  my costs in development and maintenance of the site.

<p> Thank you!
<p> Brian McGuire
<p>trumpdebtcrowdfund.com,
   Nashville, TN,
   info@trumpdebtcrowdfund.com</p>
<br><br><br><br><br>
</div></div></div></div>
