<div class="col-md-8 centercontainer">
<div class="shadowcontainer">

<h1>The Trump family is only able to do what they do because they subvert traditional
    financial and legal institutions.  The only way we can really stop it is for the
    people to get involved and crowdfund the demand for decency.  </h1>
<br>
<div class="row">
<div class="col-md-3">
  <%= image_tag "me.png", class: "aboutpic" %>
</div>
<div class="col-md-9">
  <p> I'm not a professional
  political operative or web designer.  I'm just a guy in Nashville who is super pissed about the
  Trumps criminal behavior and their arrogance.  This is one of the few ways we can really
  fight back.  I seriously believe we can torment them for a few years and then take over one of the
  properties and run it as a self-sustaining non-profit.  Wouldn't that be awesome!

<p> I developed this site with slightly better than hobbyist level coding skills, and
  I'm fronting the cash to get it up and running.  All donations will be used to cover
  my costs in development and maintenance of the
  site.  Since I just started this site only a few days ago, I do not
  have tax-exempt status, so I can't guarantee donations are tax deductible.  Sorry, but I'll work
  on that next.

<p>trumpdebtcrowdfund.com,
   Nashville, TN,
   info@trumpdebtcrowdfund.com</p>

</div></div></div></div>
