<div class="col-md-8 centercontainer">
<h1>Privacy Policy</h1>
<p class="lead">They only information available to the public is the first name you provide
 when making a pledge and any comment you care to leave.  No email addresses will be shared with anyone or any company
 ever.  If you decide to provide financial support, you can rest assured knowing we
 use secure and encrypted connections with Stripe, a thoroughly vetted third party
 who processes your transaction (Stripe is the same third party processor used by some
 of the largest and most well-known US companies).  This site does not receive or store any personal
 or financial information collected during credit card transactions processed through
 Stripe.</p>
 </div>
