
<div class="col-md-8 centercontainer">
<div class="shadowcontainer">
<h1>Terms of Service</h1>
<p class="lead">Simple, you sign the petition, I agree to deliver it. I'm not a professional
 petitioner or web designer.  I'm just a guy in Nashville who is super pissed the president
 and the Republican Party completely prostituted the White House, the people's house.
 I developed this petition with slightly better than hobbyist level coding skills, and
 I'm fronting the cash to get it up and running.  All donations will be used to cover
 my costs in development and maintenance of the
 site, and depending on how much is raised, hire some vicious lawyers and lobbyists.  Since
 I just started this site only five days after the president prostituted our White House, I do not
 have tax-exempt status, so I can't guarantee donations are tax deductible.  Sorry, but I'll work
 on that depending how far this goes.</p>
 <p class="lead">Please leave comments.  They will be helpful in making the case.  But
 also please don't say anything stupid, defamatory, vulgar, hateful, etc.  Don't leave
 personal information in the comments.  If you do, and something bad happens, it's on you, not me.
 </p>
</div></div>
