
<div class="col-md-8 centercontainer">
<h1>Terms of Service</h1>
<p class="lead">Simple, you make a pledge, we record it, and when we get to a million
 or so I'll send you an email to complete your pledge so we can get serious about buying
 some of the criminal family's debt and start tormenting the shit out of them. Your pledge isn't
 a donation, it's partial ownership in the debt, so you will be owning their torment and
 have partial ownership in any property we may acquire down the road.
 <p> I'm not a professional
 political operative or web designer.  I'm just a guy in Nashville who is super pissed about the
 Trumps criminal behavior and their arrogance.  This is one of the few ways we can really
 fight back.  I seriously believe we can torment them for a few years and then take over one of the
 properties and run it as a self-sustaining non-profit.  Wouldn't that be awesome!
 <p> I developed this site with slightly better than hobbyist level coding skills, and
 I'm fronting the cash to get it up and running.  All donations will be used to cover
 my costs in development and maintenance of the
 site.  </p>
 <p>Please leave comments.  It will be helpful in building momentum.  But
 also please don't say anything stupid, defamatory, vulgar, hateful, etc.  Don't leave
 personal information in the comments.  If you do, and something bad happens, it's on you, not me.
 </p>
</div>
