<div class="page-header">
  <%= link_to donations_path, class: 'btn btn-default' do %>
    All Donations
  <% end %>
  <%= link_to edit_donation_path(@donation), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show donation</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @donation.name %></dd>

  <dt>Amount:</dt>
  <dd><%= @donation.amount %></dd>

</dl>
